@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
/*    display: flex;*/
/*flex-direction: column;*/
/*    align-items: center;*/

}

.top-title-container{
    background-image: url("img/Rectangle.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 21%;
}

.top-title{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 125%;
    color: #FFFFFF;
}

.top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    padding-left: 20%;
    margin-top: 80px;
}

.top-info-container{
    display: flex;
    flex-direction: column;

}

.top-info-title {
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 16px;
}

.top-info-text{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-top: 0;
}

.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-form-label{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}


.contact-us-title{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-top: 80px;

}

.contact-us-form{
    background: #FFFFFF;
    box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 275px;
    border-radius: 5px;
    margin-bottom: 100px;
}

.contact-us-form-input{
    background: #FFFFFF;
    border: 1px solid  rgba(255, 255, 255, 0.35);
    box-shadow: 2.5px 3.2px 9px rgba(0, 0, 0, 0.35);
    width: 47% ;
    height: 31px;
    margin-top: 45px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 17px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #02679E;

}

.get-program-btn{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #FFFFFF;
    background: linear-gradient(180deg, #0C89CF 0%, #4FACFE 100%);
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 42px;
    margin-left: 42px;
    height: 48px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.contact-us-politic-info{

    margin-right: 42px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #ADAAAA;
}
.contact-us-politic-info-item{
    margin-left: 42px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #0082C6;
    margin-right: 5px;
    margin-top: 9px;
}

.contact-us-politic-info-text{
    display: flex;

}

input {outline:none;}

input[type="text"]::-moz-placeholder {
    color: #02679E;
}
input[type="text"]::-webkit-input-placeholder {     color: #02679E;}
input[type="text"]:-ms-input-placeholder {  color: #02679E; }
input[type="text"]::-ms-input-placeholder {  color: #02679E; }
input[type="text"]::placeholder {  color: #02679E; }

input[type="email"]::-moz-placeholder {
    color: #02679E;
}
input[type="email"]::-webkit-input-placeholder {     color: #02679E;}
input[type="email"]:-ms-input-placeholder {  color: #02679E; }
input[type="email"]::-ms-input-placeholder {  color: #02679E; }
input[type="email"]::placeholder {  color: #02679E; }


.our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.our-team-item{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.our-team-list-container{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our-team-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;

}

.our-team-container-info-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /*margin-left: 16px;*/
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.our-team-container-info-block-title{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
}

.our-team-container-info-block-subtitle{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2px;
    color: #0083CA;
    margin: 0;
}

.our-team-container-info-block-main-short-info{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    /*line-height: 150%;*/
    color: #000000;
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
}

.our-team-container-info-block-main-info{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    /*line-height: 150%;*/
    color: #000000;
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
    height: 100px;
}

.our-team-container-info-block-btn{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2px;
    text-decoration-line: underline;
    color: #0083CA;
    margin-top: 0;
}


.get-contact{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    width: 75%;
}

.get-contact img{
    margin-left: 7px;
    margin-right: 7px;
}


.how-we-work{
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;

}

.how-we-work-title{
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
    color: #000000;
}

.how-we-work-list{
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.how-we-work-container{
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    width: 45%;
    margin-right: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.how-we-work-num{
    margin: 13px;
    margin-right: 7px;
}

.how-we-work-container-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    margin-right: 16px;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size:16px;
    margin-top: 0;
    color: #000000;
}
.how-we-work-container-info-text{
    margin-bottom: 5px;
}

.how-we-work-gal{
    margin-top: 13px;
    margin-right: 7px;
}

.how-we-work-get-consult-btn{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 15px;
    width: 45%;
}

.how-we-work-get-btn{
    background: linear-gradient(180deg, #43A6F7 0%, #0A88CD 100%);
    box-shadow: 0px 20px 22px rgba(0, 131, 202, 0.15), inset 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 55px;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 75px;
    color: #FFFFFF;
    margin-bottom: 25px;
    cursor: pointer;
}

.how-we-work-container-info-block-btn{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 2px;
    text-decoration-line: underline;
    color: #0083CA;
    margin-top: 0;
}

.get-contact img{
    cursor: pointer;
}

@media screen and (max-width: 1399px) {
    .our-team-list-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .our-team-container{
        width: 110%;
    }

    .our-team-container-info-block-main-info{
        height: 75px;
    }

    .our-team{
        padding-left: 5%;
    }

}



@media screen and (max-width: 1196px){
    .contact-us-form-label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-us-form-input{
        margin: 10px;

    }
    .contact-us-form{
        height: 100%;
        width: 70%;
    }
    .how-we-work-container{
        width: 75%;
    }
}

@media screen and (max-width: 990px){
    .how-we-work-get-consult-btn{
        width: 95%;
    }
    .how-we-work-container{
        justify-content: flex-start;
        width: 100%;
    }
    .how-we-work-get-consult-btn{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 540px){
    .contact-us-form-input{
        width: 90%;
    }
    .get-program-btn{
        margin-left: 20px;
        margin-right: 20px;
    }

    .top-title{
        font-size: 40px;
    }
    .our-team-container-info-block-btn{
        margin-top: 140px;
        font-size: 20px;
    }
    .how-we-work-list{
        width: 110%;
    }

    .how-we-work-container-info{
        height: 120px;
    }
    .how-we-work-container{
        width: 100%;
        height: 160px;
    }
    .how-we-work{
        padding: 3% ;
    }
    .how-we-work-get-btn{
        text-align: center;
        width: 80%;
    }
    .get-program-btn{
        text-align: center;

    }
}


